import("httr")
importFrom("png", "readPNG")
importFrom("jpeg", "readJPEG")
importFrom("tools", "file_ext")
importFrom("grDevices", "dev.cur", "dev.list", "dev.off", "png")
importFrom("graphics", "image", "plot", "rasterImage")
S3method(plot, imgur_image)
S3method(plot, imgur_gallery_image)
exportPattern("^[^\\.]")
